$colorBaseBlack: #000000;    
$colorBaseWhite: #ffffff;    
$colorNeutral50: #f8fafc;    
$colorNeutral100: #f1f5f9;    
$colorNeutral200: #e2e8f0;    
$colorNeutral300: #cbd5e1;    
$colorNeutral400: #94a3b8;    
$colorNeutral500: #64748b;    
$colorNeutral600: #475569;    
$colorNeutral700: #334155;    
$colorNeutral800: #1e293b;    
$colorNeutral900: #0f172a;    
$colorPrimary50: #f5f3ff;    
$colorPrimary100: #ede9fe;    
$colorPrimary200: #ddd6fe;    
$colorPrimary300: #c4b5fd;    
$colorPrimary400: #a78bfa;    
$colorPrimary500: #8b5cf6;    
$colorPrimary600: #7c3aed;    
$colorPrimary700: #6d28d9;    
$colorPrimary800: #5b21b6;    
$colorPrimary900: #4c1d95;    
$colorInformative50: #eff6ff;    
$colorInformative100: #dbeafe;    
$colorInformative200: #bfdbfe;    
$colorInformative300: #93c5fd;    
$colorInformative400: #60a5fa;    
$colorInformative500: #3b82f6;    
$colorInformative600: #2563eb;    
$colorInformative700: #1d4ed8;    
$colorInformative800: #1e40af;    
$colorInformative900: #1e3a8a;    
$colorSuccess50: #f0fdf4;    
$colorSuccess100: #dcfce7;    
$colorSuccess200: #bbf7d0;    
$colorSuccess300: #86efac;    
$colorSuccess400: #4ade80;    
$colorSuccess500: #22c55e;    
$colorSuccess600: #16a34a;    
$colorSuccess700: #15803d;    
$colorSuccess800: #166534;    
$colorSuccess900: #14532d;    
$colorWarning50: #fffbeb;    
$colorWarning100: #fef3c7;    
$colorWarning200: #fde68a;    
$colorWarning300: #fcd34d;    
$colorWarning400: #fbbf24;    
$colorWarning500: #f59e0b;    
$colorWarning600: #d97706;    
$colorWarning700: #b45309;    
$colorWarning800: #92400e;    
$colorWarning900: #78350f;    
$colorDanger50: #fef2f2;    
$colorDanger100: #fee2e2;    
$colorDanger200: #fecaca;    
$colorDanger300: #fca5a5;    
$colorDanger400: #f87171;    
$colorDanger500: #ef4444;    
$colorDanger600: #dc2626;    
$colorDanger700: #b91c1c;    
$colorDanger800: #991b1b;    
$colorDanger900: #7f1d1d;    
